<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>

    <body>
        <h1>Register with Livinglab</h1>

        {% if registered %}
        Admin says: <strong>thank you for registering!</strong>
        <a href="/testlogin/">Try again.</a><br />
        {% else %}
        Admin says: <strong>register here!</strong><br />

        <form id="user_form" method="post" action="/testregister/"
                enctype="multipart/form-data">

            {% csrf_token %}


            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>